<div class="grid-container">
    <div class='header-item'>
        <img src="https://www.cbs.nl/Content/images/cbs-ld-logo.png" alt="CBS" align="left" width="100" height="100" routerLink='/overview' style="cursor: pointer;">
        <h1>Graphs: {{chosenGroup}}</h1>
    </div>
    <div class="project-selection-item">

        <label>Select a Paradata Set: </label>
        <select #paradataSelection (change)="paradataSelection.value = paradataSelection.value; showGraph = false; showDeviceDoughnutGraph = false; showPhoneModelDoughnutGraph = false;">
            <option value=""></option>
            <option value="Devices">Devices</option>
            <option value="Receipts">Receipts</option>
            <option value="Status">Status (all groups)</option>
            <option value="Events">Events</option>
        </select><br><br>

        <label *ngIf='paradataSelection.value == "Devices"'>Select specific paradata: </label>
        <select #deviceInfoTypeSelection *ngIf='paradataSelection.value == "Devices"' value="" (change)='deviceInfoTypeSelection.value = deviceInfoTypeSelection.value; selectionChange(deviceInfoTypeSelection.value)'>
            <option value=''></option>
            <option value='OS'>OS</option>
            <option value='Phone Model'>Phone Model</option>
        </select><br>

        <label *ngIf='paradataSelection.value == "Events"'>Select a user</label>
        <select #userTimeSelection *ngIf='paradataSelection.value == "Events"' value="" (change)='userTimeSelection.value = userTimeSelection.value; selectionChange(userTimeSelection.value); getScreenTimeUser(screenTimeUserParadata, userTimeSelection.value)'>
            <option value=''></option>
            <ng-container *ngFor="let user of allUsernames">
                <option value='{{user}}'>{{user}}</option>
            </ng-container>
        </select><br>
    </div>
    <div class="description-item">
        <label *ngIf="paradataSelection.value == 'Receipts'">
            <!-- Floor: <input #floorInput type="number"  min="0" value='7' (change)="floorInput.value = floorInput.value" max="{{scopeMinInput.value}}"><br> -->
            First limit: <input #scopeMinInput type="number"  min=0 value=7 (change)='scopeMinInput.value = scopeMinInput.value; getReceiptAmount(scopeMinInput.value, scopeMaxInput.value)' max={{scopeMaxInput.value}}><br>
            Second limit: <input #scopeMaxInput type="number" min={{scopeMinInput.value}} value=14 (change)='scopeMaxInput.value = scopeMaxInput.value; getReceiptAmount(scopeMinInput.value, scopeMaxInput.value)'><br>
            <!-- Roof: <input #roofInput type="number" min="{{scopeMaxInput.value}}" value='{{scopeMaxInput.value}}' (change)='roofInput.value = roofInput.value'><br> -->
        </label><br>

        <label #devicesDescription *ngIf="paradataSelection.value == 'Devices'">You have selected to view the paradata of <b>Devices</b></label>
        <label #receiptsDescription *ngIf="paradataSelection.value == 'Receipts'">
            You have selected to view the paradata of <b>Receipts</b>.<br>
            The receipts are values uploaded by the users of the corresponding research which contain the data of their daily expenses. The data shown below are the receipts <b>per day</b>, but they are not specifically uploaded by one user.
            One bar may therefore contain multiple days of one user (and ofcourse other users).<br><br>
            Above are <b>two inputs</b>. The first input is meant for setting the <b>first limit of the bar chart</b>. The first limit of the bar chart contains the data where the first set of data will be devided from the second set of data.
            The second input is meant for setting the <b>second limit of the bar chart</b>. The second limit of the bar chart contains the data where the second set of data gets devided from the third set of data.<br><br>
            The first set of data contains the values which contain the amount users on each day where <b>the floor value is equal to zero</b> and <b>the maximum amount of receipts is equal to the first input</b>.<br>
            The second set of data contains the values which contain the amount users on each day where <b>the floor value is equal to the first input</b> and <b>the maximum amount of receipts is equal to the second input</b>.<br>
            The third set of data contains the values which contain the amount users on each day where <b>the floor value is equal to the second input</b> and <b>the maximum amount of receipts is non existent</b>.
        </label>
        <label #statusDescription *ngIf="paradataSelection.value == 'Status'">
            You have selected to view the paradata of <b>Status</b>.<br>
            Within this selection, the application will show you the spread for the overall amount of enabled groups and the overall amount of disabled groups. All groups are shown on the <b><a [routerLink]="['/overview']">Overview Page</a></b>, but you can enable/disable a group on the next corresponding page of that group by doubleclicking on that group and pressing the <b>Enable</b> or <b>Disable</b> button in the top box of that page.<br>
            Now for the usabiltity of this information. The status of a group contains the information whether all users in the corresponding group are finished with the research or if they are still participating in one.
        </label>
    </div>
    <div class="graph-item" *ngIf="paradataSelection.value != ''">
        
        <ng-container *ngIf='paradataSelection.value == "Devices"'>
            <label *ngIf='!showGraph'>No charts selected</label>
            <ng-container *ngIf='deviceDifference.length != 0 && showDeviceDoughnutGraph'>
                <h2>Operating System</h2><br><hr>
                <canvas  height="94%" baseChart 
                [data]="deviceDoughnutChartData"
                [labels]="deviceDoughnutChartLabels"
                [chartType]="deviceDoughnutChartType">
                </canvas>
            </ng-container>
            <ng-container *ngIf='showPhoneModelDoughnutGraph && phoneModels.length != 0'>
                <h2>Phone Models</h2><br><hr>
                <canvas height="94%"baseChart 
                [data]="phoneModelDoughnutChartData"
                [labels]="phoneModelDoughnutChartLabels"
                [chartType]="phoneModelDoughnutChartType">
                </canvas>
            </ng-container> 
        </ng-container>

        <ng-container *ngIf='paradataSelection.value == "Receipts" && receiptsSplit.length != 0'>
            <h2>Receipts</h2><br><hr>
            <canvas  
            height="94%"
            baseChart
            [datasets]="receiptsBarChartData"
            [labels]="receiptsBarChartLabels"
            [options]="receiptsBarChartOptions"
            [plugins]="receiptsBarChartPlugins"
            [legend]="receiptsBarChartLegend"
            [chartType]="receiptsBarChartType"></canvas>
        </ng-container>

        <ng-container *ngIf='paradataSelection.value == "Status"'>
            <h2>Status</h2><br><hr>
            <canvas height="94%" baseChart
            [data]="statusDoughnutChartData"
            [labels]="statusDoughnutChartLabels"
            [chartType]="statusDoughnutChartType">
            </canvas>
        </ng-container>

        <ng-container *ngIf='paradataSelection.value == "Events"'>
            <h2>Events</h2><br><hr><br>
            <h3>Group Average</h3><hr>
            <canvas  
            height="47%"
            baseChart
            [data]="screenTimeParadataTime"
            [labels]="screenTimeParadataPages"
            [chartType]="phoneModelDoughnutChartType"></canvas><br>

            <ng-container *ngIf="userScreenTimeShow">
                <hr><br>
                <h3>User</h3><hr>
                <canvas  
                height="47%"
                baseChart
                [data]="screenTimeUserParadataTime"
                [labels]="screenTimeUserParadataPages"
                [chartType]="phoneModelDoughnutChartType"></canvas>
            </ng-container>
        </ng-container>
    </div>

    <div class='extra-information-item' *ngIf='(paradataSelection.value != "")'>
        <label><h1>Added information</h1></label>
        <label><h3>Phone types:</h3></label>

        <label>| Group: {{chosenGroup}} |</label><br>
        <label *ngFor="let modelName of newPhoneType; index as modelNameId">
            <label *ngFor="let element of phoneModels; index as elementId">
                <label *ngIf='modelNameId == elementId'><b>{{modelName.phoneType}}</b> | <i>{{modelName.phoneModel}}</i>: </label>
                <label *ngIf='modelNameId == elementId'>{{element.length}}<br></label>
            </label>
        </label>
        <hr>
        <label><h1>Status</h1></label>
        <label>{{enabledPercentage}}% of all groups are enabled</label>
        <hr>
    </div>
</div>
<img src='https://www.svgrepo.com/show/67631/back-arrow.svg' style="height: 25px; width: 25px; cursor: pointer;" routerLink='/paradata-group/{{chosenGroup}}'>