
.graph-item {
    grid-area: graph;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    
    /* width: 1600px;
    max-width: 1600px;
    height: 500px; */
}

.project-selection-item {
    grid-area: proj;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}


.header-item {
    grid-area: HI;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
}

.description-item {
    grid-area: desc;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 1,5px;
}

.extra-information-item {
    grid-area: eii;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    /* width: 270px; */
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'HI HI HI HI HI HI'
        'proj desc desc desc desc desc'
        'graph graph graph graph graph eii';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: lightgray;
    padding: 20px 0;
    font-size: 15px;
}
