<div class="grid-container" >
    <div class='header-item'>
        <img src="https://www.cbs.nl/Content/images/cbs-ld-logo.png" alt="CBS" align="left" width="100" height="100" routerLink='/overview' style="cursor: pointer;">
        <h1>Create Users</h1>
    </div>
    <form [formGroup]='inputForm'>
        <form [formGroup]='createUsersForm'>
            <div id='createUsersItem' name='createUsersItem' class="userAdditionAmount" style="padding-left: 1.5em;">
                <br>
                <label>Enter the amount of users that needs to be added: </label>
                <input #amountInput id='amountInput' type="number" formControlName="userAmount" (change)='addvalue(amountInput.value)' min="0"><br>
                <label>Corresponding tag (only for randomized users): </label><input #tagTbx id='tagTbx' type='text' name='tagTbx' value="" (keyup)='tagTbx.value = tagTbx.value' (keyup.enter)='createRandomUsers(tagTbx.value)' pattern="[a-zA-Z]*"> |
                <button [disabled]='tagTbx.value == ""' class="button" type="submit" (click)='createRandomUsers(tagTbx.value)'>Create random users</button><br><br>

                <button (click)="createSuperUsers()" type="button">Add To Superusers Group</button><br>
                <button (click)='createUsers()' type="button" *ngIf='chosenGroup != "superuser"'>Add Users</button><br><br>
                
                
                <label>Add users through an excel file: </label>
                <input #fileUpload type="file" style="display: inline-block;"  placeholder="Upload file" accept=".csv, .xlsx" (change)='onFileChange($event)'> |
                <button (click)="onSubmitted()" [disabled]='fileUpload.value == "" || unableAddition.length != 0' routerLink='/groups/{{chosenGroup}}'>Submit file</button><br><br>
            </div><br>
        </form>
        <div class="userAddition" *ngIf='amountInput.value > 0'>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            
                <tr id='inputItem' name='inputItem' *ngFor="let value of values; let index = index">
                    <td><input id="name{{index}}" type="text" name="name{{index}}" (keyup.enter)='createUsers()'></td>
                    <td><input id="password{{index}}" type="text" name="password{{index}}" (keyup.enter)='createUsers()'></td>
                </tr>
            </table><br><br>
        </div>
        
    </form>
    <div *ngIf='unableAddition.length != 0'>
        <label *ngIf='unableAddition.length != 0'>The following users could not be added: </label>
        <label *ngFor='let index of unableAddition'><b>{{index}} <ng-container *ngIf='index != unableAddition[unableAddition.length-1]'>| </ng-container> <ng-container *ngIf='index == unableAddition[unableAddition.length-1]'>.</ng-container></b></label>
        <label *ngIf='unableAdditionAmount != 0'>{{unableAdditionAmount}}</label>
    </div>
</div>
<button routerLink='/groups/{{chosenGroup}}'>Back</button>