/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';

table {
    width: 100%;
  } */
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}

th {
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

td {
    text-align: center;
    border: 1px solid gray;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.table-item {
    grid-area: tbl;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.project-selection-item {
    grid-area: psi;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 1,5em;
}

.header-item {
    grid-area: HI;
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'HI HI'
        'psi psi'
        'tbl tbl';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: lightgray;
    padding: 20px 0;
    font-size: 15px;
}