<body>
    <div class="grid-container">
        <div class='header-item'>
            <img src="https://www.cbs.nl/Content/images/cbs-ld-logo.png" alt="CBS" align="left" width="100" height="100" routerLink='/overview' style="cursor: pointer;">
            <h1>Paradata: <b>{{chosenGroup}}</b></h1>
        </div>
        <div class="project-selection-item" style="padding-left: 1.5em;">
            <label>Select the project you want the data from:
            <select #projectSelection (change)='projectSelection.value = projectSelection.value; paradataSelection.value = ""; availableFilters.length = 0'>
                <option value=''></option>
                <option value='HBS'>HBS</option>
                <option value='TBO'>TBO</option>
            </select><br></label>

            <label>To select the paradata that you want to see, open this list: 
                <select #paradataSelection (change)='paradataSelection.value = paradataSelection.value; valuechange(paradataSelection.value)' [disabled]='projectSelection.value == ""'>
                    <option value=''></option>

                    <option *ngIf='projectSelection.value == "HBS"' value='Receipts'>Receipts</option>
                    <option *ngIf='projectSelection.value == "HBS"' value="Phones">Phones</option>
                    <option *ngIf='projectSelection.value == "HBS"' value="Activities">Events</option>
                    <option *ngIf='projectSelection.value == "HBS"' value="Clicks">Clicks</option>

                    <option *ngIf='projectSelection.value == "TBO"' value='test1'>test1</option>
                    <option *ngIf='projectSelection.value == "TBO"' value="test2">test2</option>
                </select><br>
            </label><br>
            <label>Filter: <input #filterInput id='filterInput' (keyup)='filterInput.value = filterInput.value; filterChange(paradataSelection.value, filterInput.value)' [disabled]='projectSelection.value == "" || paradataSelection.value == ""'><br><br></label>
            <label style="color: rgb(102, 102, 102);" *ngIf='availableFilters.length != 0'>
                Available filters: <br>
                <ng-container *ngFor='let filterValue of availableFilters'>
                    <input id="onlyFilter{{filterValue}}Radio" type="radio" name='filter' (change)='filterChange(paradataSelection.value, filterInput.value)'>|<input #filterCbx{{filterValue}} id='filterCbx{{filterValue}}' type='checkbox' [checked]=true (change)='filterChange(paradataSelection.value, filterInput.value)'>
                    {{filterValue}}<br>
                </ng-container>
                <input id="noneFilterRadio" type="radio" name='filter' checked='true' (change)='filterChange(paradataSelection.value, filterInput.value)'> None
            </label>
        </div>

        <div class="table-item" *ngIf='paradataSelection.value != ""'>
            <table #receiptMatTbl id='receiptMatTbl' mat-table [dataSource]='receiptDataSource' matSort *ngIf="paradataSelection.value == 'Receipts' && paradata">


                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="receipts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Receipts </th>
                    <td mat-cell *matCellDef="let element"> {{element.receipts}} </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="receiptParadataColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: receiptParadataColumns"></tr>
                
            </table><br>
            <mat-paginator *ngIf="paradataSelection.value == 'Receipts' && paradata" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            
            <table #phoneMatTbl id='phoneMatTbl' mat-table [dataSource]='phoneDataSource' *ngIf="paradataSelection.value == 'Phones' && phoneParadata" matSort>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneName}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneType}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneManufacturer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneManufacturer}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneModel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneModel}} </td>
                </ng-container>

                <ng-container matColumnDef="receipts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Receipts </th>
                    <td mat-cell *matCellDef="let element"> {{element.receipts}} </td>
                </ng-container>

                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Products </th>
                    <td mat-cell *matCellDef="let element"> {{element.products}} </td>
                </ng-container>

                <ng-container matColumnDef="photos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Photos </th>
                    <td mat-cell *matCellDef="let element"> {{element.photos}} </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="phoneParadataColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: phoneParadataColumns"></tr>
                
            </table><br>
            <mat-paginator *ngIf="paradataSelection.value == 'Phones' && phoneParadata" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


            <table #activityMatTbl id='activityMatTbl' mat-table [dataSource]='activityDataSource' *ngIf="paradataSelection.value == 'Activities' && activityParadata" matSort>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}}/{{element.month}}/{{element.day}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.hour}}:{{element.min}}:{{element.sec}}.{{element.msec}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="objectName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Page </th>
                    <td mat-cell *matCellDef="let element"> {{element.objectName}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="activityParadataColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: activityParadataColumns"></tr>
                
            </table><br>
            <mat-paginator *ngIf="paradataSelection.value == 'Activities' && activityParadata" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


            <table #clicksMatTbl id='clicksMatTbl' mat-table [dataSource]='clicksDataScource' *ngIf="paradataSelection.value == 'Clicks' && clicksData" matSort>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>

                <ng-container matColumnDef="objectName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Page </th>
                    <td mat-cell *matCellDef="let element"> {{element.objectName}} </td>
                </ng-container>

                <ng-container matColumnDef="clicks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clicks </th>
                    <td mat-cell *matCellDef="let element"> {{element.clicks}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="clicksDataColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: clicksDataColumns"></tr>
                
            </table><br>
            <mat-paginator *ngIf="paradataSelection.value == 'Clicks' && clicksData" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            


            <div style="text-align: center;">
                <label *ngIf="paradataSelection.value == 'Receipts' && !paradata"><b>There is no receipt paradata for this group</b></label>
                <label *ngIf="paradataSelection.value == 'Phones' && !phoneParadata"><b>There is no phone paradata for this group</b></label>
                <label *ngIf="paradataSelection.value == 'Activities' && !activityParadata"><b>There is no activity paradata for this group</b></label>
            </div>
            <table *ngIf='paradataSelection.value == "test1"'>
                <tr>
                    <th>test1Colmn</th>
                    <th>test2Colmn</th>
                </tr>
                <tr>
                    <td>test1cell</td>
                    <td>test2cell</td>
                </tr>
            </table>


        </div>
    </div>
</body>
<button mat-button (click)='navigate()'>Graphs</button>

